.slideList{
    max-height: 550px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slideList__slide_prewiev{
    margin-bottom: 15px;
    border: 1px solid gray; 
}

.slideList::-webkit-scrollbar {
    width: 10px; 
    height: 15px; 
}

.slideList::-webkit-scrollbar-thumb {
    background-color: rgba(250, 113, 0, 1); 
    border-radius: 35px; 
    margin: 5px;
}
