.toolBar{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.toolBar__tool{
    min-width: 150px;
    max-width: 250px;
    height: 50px;
    background-color: rgba(51, 205, 199, 1);
    color: white;
    font-size: 24px;
    font-family: "inter";
    border-radius: 20px;
    border: none;
}

.toolBar__tool_export{
    background-color: rgba(255, 113, 0, 1);
}

.toolBar__tool_textProperties{
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(51, 205, 199, 1);
    color: white;
    font-size: 24px;
    border-radius: 20px;
}

.toolBar__tool_textProperties_notAvailable{
    background-color: rgba(51, 205, 199, 0.3);
}

.toolBar__tool_textProperties__font_input{
    width: 100px;
    color: white;
    font-size: 20px;
    font-family: "inter";
    background: none;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #33CDC7;
}

.toolBar__tool_textProperties__textSize{
    width: 35px;
}

.toolBar__tool_textProperties__textSize input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.toolBar__colors{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(51, 205, 199, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
}

.toolBar__colors__colorBlock{
    height: 50px;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

.toolBar__colors__colorBlock__Icon{
    padding-top: 1px;
}

.toolBar__colors__colorBlock__Icon__textColor{
    width: 32px;
    height: 37px;
    background: none;
}

.toolBar__colors__colorBlock__Icon__fillColor{
    width: 37px;
    height: 34px;
}

.toolBar__colors__colorBlock__color{
    width: 51px;
    height: 5px;
    border-radius: 5px;
    background-color: black;
}

.toolBar__tool_notAvailable{
    opacity: 0.3;
    pointer-events: none;
}

.objectList{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;   
}

.insertSection{
    background-color: rgba(0, 155, 149, 1);
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100px;
    justify-content: space-between;
}

.insertSection button{
    border: none;
    background: none;
    color: white;
    font-size: 18px;
    font-family: "inter";
    padding-top: 3px;
}

.toolBar__colors_textColor{
    transform: scale(0.7);
    margin-right: 10px;
}